<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>



<!-------------------------- ERROR MESSAGE -------------------------->



 
		<% if flash.now[:danger] %>
	    	<div class="alert alert-danger text-center" role="danger"><%= flash.now[:danger] %>
	    	</div>
	 	<% end %>



    <!-------------------------- CONTAINER -------------------------->

    <div class="container text-center">
    	</br>
	    </br>
	    </br>
	    </br>
	    <h1>CONNEXION</h1>
	    </br>
	    </br>


		
		
		<%= form_tag url_for(action: 'create'), method: "post" do %>

	      <%= label_tag 'EMAIL' %>
	      <%= text_field_tag 'email', '', class: "form-control", placeholder:"Entrez votre email" %>
	      <br/> <br/>

	      <%= label_tag 'MOT DE PASSE' %>
	      <%= password_field_tag 'password', '', class: "form-control", placeholder:"Entrez votre mot de passe" %>
	      <br/> <br/>
	      
	      	<%= label_tag :remember_me, class: "checkbox inline" do %>
  			<%= check_box_tag :remember_me %>
  			<span>Se rappeler de moi</span>
  			<% end %>
			<br/>
			<br/>

			<%= submit_tag "Se connecter", class: "btn btn-dark" %>
			<%= link_to "Pas de compte ?", new_user_path, class: "btn btn-outline-danger" %>

			

	    <% end %>
		 


	   
	    
	    </br>
	    </br>
	    </br>
	    <p> <%= link_to 'Retour sur l\'accueil des gossips', index_path %></p>

	</div>






















	<!-------------------------- SCRIPT -------------------------->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






</body>
</html>