<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>



<!-------------------------- ERROR MESSAGE -------------------------->



<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>Nous n'avons pas réussi à vous inscrire pour la (ou les) raison(s) suivante(s) :</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<!-------------------------- CONTAINER -------------------------->




    <div class="container text-center">
    	</br>
	    </br>
	    </br>
	    </br>
	    <h1>INSCRIPTION</h1>
	    </br>
	    </br>


		
		
		<%= form_tag url_for([@user]), method: "post" do %>

	      <%= label_tag 'Nom :' %>
	      <%= text_field_tag 'last_name', '', class: "form-control", placeholder:"tappez votre nom ici", required: true %>
	      <br/> <br/>

	      <%= label_tag 'Prénom :' %>
	      <%= text_field_tag 'first_name', '', class: "form-control", placeholder:"tappez votre prénom ici", required: true %>
	      <br/> <br/>

	      <%= label_tag 'Âge :' %>
	      <%= text_field_tag 'age', '', class: "form-control", placeholder:"tappez votre âge ici", required: true %>
	      <br/> <br/>

	      <%= label_tag 'Code Postal :' %>
	      <%= text_field_tag 'zip_code', '', class: "form-control", placeholder:"tappez votre code postal ici", required: true %>
	      <br/> <br/>

	      <%= label_tag 'Ville :' %>
	      <%= text_field_tag 'city', '', class: "form-control", placeholder:"tappez votre ville ici", required: true %>
	      <br/> <br/>

	      <%= label_tag 'Description :' %>
	      <%= text_field_tag 'description', '', class: "form-control", placeholder:"tappez votre description ici", required: true %>
	      <br/> <br/>

	      <%= label_tag 'Email :' %>
	      <%= text_field_tag 'email', '', class: "form-control", placeholder:"tappez votre email ici", required: true %>
	      <br/> <br/>

	      <%= label_tag 'Mot de passe :' %>
	      <%= password_field_tag 'password', '', class: "form-control", placeholder:"tappez votre mot de passe ici", required: true %>
	      <br/> <br/>

	      <%= label_tag 'Confirmation :' %>
	      <%= password_field_tag 'password_confirmation', '', class: "form-control", placeholder:"confirmez votre mot de passe ici", required: true %>
	      <br/> <br/>
	     


	      <%= submit_tag "Valider mon inscription", class: "btn btn-dark" %>

	    <% end %>
		 


	   
	    
	    </br>
	    </br>
	    </br>
	    <p> <%= link_to 'Retour sur l\'accueil des gossips', index_path %></p>

	</div>






   <!-------------------------- SCRIPT -------------------------->







    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>